.pagelayout{
    border: 20%;
    background-color: chartreuse

}

img {
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Contact Section  */
.contact{
    margin-bottom: 50px;
    padding: 0 50px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contact h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: red;
    justify-content: space-evenly;
}
.contact .group{
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact .form{
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* background-color: aqua; */
}
.contact .group .form input,
.contact .group .form textarea{
    font-size: 16px;
    border: 2px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-evenly;
}